.todo__list {
  display: flex;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.todo__list__text {
  font-family: "Averia Serif Libre", cursive;
  font-weight: 500;
  margin-right: 10px;
  background-color: rgb(198, 209, 220);
  padding: 5px 5px;
  border-radius: 3px;
}

.todo__list__text.time {
  font-family: "Open Sans Condensed", sans-serif;
  color: gray;
}

.todo__modal {
  visibility: hidden;
  margin: 0;
  position: absolute;
}

.todo__modal.active {
  padding: 10px 0 10px;
  visibility: visible;
  position: relative;
  background-color: rgb(92, 138, 184);
  left: -1.5%;
}

.todo__modal.active h1 {
  color: white;
  background-color: rgb(92, 138, 184);
}

.todo__modal__inner {
  background-color: rgb(92, 138, 184);
}

button {
  border: none;
  outline-style: none;
}

.fa-pencil-alt {
  font-size: 1.2rem;
}

.fa-trash-alt {
  font-size: 1.2rem;
}

.update__button {
  background-color: rgb(112, 54, 167);
  color: #000000;
  padding: 10px 10px 10px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* .MuiTypography-body1 {
  font-family: "Averia Serif Libre", cursive;
}

.MuiListItemText-primary {
  font-weight: 500;
  margin-right: 10px;
  background-color: rgb(198, 209, 220);
  padding: 5px 5px;
  border-radius: 3px;
}

.MuiListItemText-secondary {
  background-color: rgb(224, 234, 245);
} */

@media (max-width: 1300px) {
  .todo__modal.active {
    padding: 10px 0 10px;
    visibility: visible;
    position: relative;
    background-color: rgb(92, 138, 184);
    left: -1.7%;
  }
}

@media (max-width: 1000px) {
  .todo__modal.active {
    left: -2%;
  }
}

@media (max-width: 800px) {
  .todo__modal.active {
    left: -2.5%;
  }
}

@media (max-width: 700px) {
  .todo__modal.active {
    left: -3.5%;
  }
}
@media (max-width: 500px) {
  .todo__modal.active {
    left: -4.5%;
  }
}

@media (max-width: 450px) {
  .todo__modal.active {
    left: -5.9%;
  }
}
